@import '../../style/main';

.Button {
    background-color: $btn-color;
    color: $white;
    font-size: $default-fontSize;
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 50px;

    &:hover {
        cursor: pointer;
        background-color: $btn-hover-color;
    }

    &:focus {
        outline:none;
    }
}