@import '../../style/main';

.ErrorMessage {
    font-size: $default-fontSize;
    background-color: $white;
    border-radius: 5px;

    &__header {
        background-color: $grey;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        height: 80px;
        text-align: center;

        &__icon {
            width: 45px;
        }

        &__title {
            color: $white;
        }
    }

    &__body {
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 40px;
        text-align: center;
    }
}