@import '../../style/main';

.Repository {
    background-color: $white;
    color: $grey;
    font-size: $small-fontSize;
    width: 100%;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    &__name {
        word-break: break-all;
    }

    &__description {
        font-size: $smallest-fontSize;
        color: $light-grey;
    }

    &__stars{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-left: 30px;

        &__icon{
            width: 24px;
            margin-right: 8px;
        }
    }
}

// responsive
@media (max-width: $breakpoint-phone) {
    .Repository {
        flex-direction: column;
        height: auto;

        &__stars {
            margin-left: 0;
        }
    }
}