@import '../../style/main';

.Card {
    background-color: $white;
    color: $grey;
    font-size: $default-fontSize;
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 15px 30px
}