// Colors
$background-color: #EF6565;
$btn-color: #404040;
$btn-hover-color: #5E5E5E;
$white: #fff;
$grey: #404040;

// Fonts
$default-fontSize: 18px;
$small-fontSize: 16px;
$medium-fontSize: 24px;
$large-fontSize: 36px;
