// Colors
$background-color: #EF6565;
$btn-color: #404040;
$btn-hover-color: #5E5E5E;
$white: #fff;
$grey: #404040;
$light-grey: #9D9D9D;

// Fonts
$default-fontSize: 18px;
$smallest-fontSize: 14px;
$small-fontSize: 16px;
$medium-fontSize: 24px;
$large-fontSize: 36px;

// breakpoints for responsible layout
$breakpoint-tablet: 768px;
$breakpoint-phone: 480px;
