@import '../../style/main';

.Avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__img {
        width: 100px;
    }

    &__text {
        color: $white;
    }
}

.text--default {
    font-size: $default-fontSize;
}
.text--small {
    font-size: $small-fontSize;
}
.text--medium {
    font-size: $medium-fontSize;
}
.text--large {
    font-size: $large-fontSize;
}