@import 'style/main';

.App {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__logo {
    margin-bottom: 50px;
  }

  &__search {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    &__bar {
      margin-right: 30px;
    }
  }
}

