@import 'style/main';

.App {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__logo {
    margin: 50px 0;
  }

  &__search {
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    &__bar {
      margin-right: 30px;
      width: 90%;
    }

    &__warning {
      color: $white
    }
  }

  &__result {
    margin: 100px 0;
    width: 450px;

    &__container{
      width: 100%;
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }

    &__avatar {
      margin-right: 30px;
    }
  }
}

// responsive
@media (max-width: $breakpoint-phone) {
  .App {
    &__search {
      width: 350px;
      flex-direction: column;

      &__bar {
        margin-right: 0;
        margin-bottom: 30px;
        width: 350px;
      }
    }

    &__result {
      width: 350px;

      &__avatar {
        margin-right: 0;
      }

      &__repository {
        margin-top: 30px;
      }
    }
  }
}

